;event stripper by koen (STEAM_1:1:114921174) with help from kotya

;event - add fog to the map
add:
{
	"classname" "env_fog_controller"
	"targetname" "@event_env_fog_controller"
	"spawnflags" "1"
	"fogenable" "1"
	"fogstart" "-1500"
	"fogend" "1500"
	"fogcolor2" "75 20 0"
	"fogcolor" "75 20 0"
	"fogblend" "0"
	"farz" "3000"
}

add:
{
	"classname" "skybox_swapper"
	"targetname" "@event_skybox_swapper"
	"skyboxname" "italy"
}

add:
{
	"classname" "logic_auto"
	"OnMapSpawn" "@event_skybox_swapper,Trigger,,0,1"
}

add:
{
	"model" "*83"
	"classname" "trigger_multiple"
	"wait" "1"
	"StartDisabled" "0"
	"spawnflags" "4097"
	"OnStartTouch" "!activator,AddOutPut,fademindist 500,0,-1"
	"OnStartTouch" "!activator,AddOutPut,fademaxdist 1500,0,-1"
}

add:
{
	"model" "*84"
	"classname" "trigger_multiple"
	"wait" "1"
	"StartDisabled" "0"
	"spawnflags" "4097"
	"OnStartTouch" "!activator,AddOutPut,fademindist 500,0,-1"
	"OnStartTouch" "!activator,AddOutPut,fademaxdist 1500,0,-1"
}

modify:
{
	match:
	{
		"classname" "sky_camera"
	}
	replace:
	{
		"fogstart" "-1500"
		"fogend" "1500"
		"fogcolor" "75 20 0"
		"fogcolor2" "75 20 0"
	}
}

;Making the planks non-breakable until the window breaks so dimwits can't shoot those beforehand
;Current solution: Set the planks' HP to a ridiculous high value. When the window breaks set it back to their default HP value.
modify:
{
	match:
	{
		"hammerid" "322551"
	}
	replace:
	{
		"health" "99999999"
	}
	insert:
	{
		"targetname" "plank2"
	}
}

modify:
{
	match:
	{
		"hammerid" "261683"
	}
	replace:
	{
		"health" "99999999"
	}
	insert:
	{
		"targetname" "plank1"
	}
}

modify:
{
	match:
	{
		"targetname" "BreakWindow"
		"classname" "logic_relay"
		"hammerid" "178969"
	}
	insert:
	{
		"OnTrigger" "plank1,SetHealth,2400,0.2,-1"
		"OnTrigger" "plank2,SetHealth,1200,0.2,-1"
	}
}

;Train was sideways post-Wildfire's update. Fun, isn't it?
;Additionally this also fixes players sometimes sliding off because HL1 train wasn't checked off in flags.
modify:
{
	match:
	{
		"classname" "func_tracktrain"
		"targetname" "Train_Vagon_0"
	}
	replace:
	{
		"spawnflags" "642"
		"wheels" "50"
	}
}

modify:
{
	match:
	{
		"classname" "func_tracktrain"
		"targetname" "Train_Vagon_1"
	}
	replace:
	{
		"spawnflags" "658"
		"wheels" "50"
	}
}

modify:
{
	match:
	{
		"classname" "func_tracktrain"
		"targetname" "Train_Vagon_2"
	}
	replace:
	{
		"spawnflags" "658"
		"wheels" "50"
	}
}

modify:
{
	match:
	{
		"classname" "func_tracktrain"
		"targetname" "Train_Vagon_3"
	}
	replace:
	{
		"spawnflags" "658"
		"wheels" "50"
	}
}

modify:
{
	match:
	{
		"classname" "func_tracktrain"
		"targetname" "Train_Vagon_4"
	}
	replace:
	{
		"spawnflags" "658"
		"wheels" "50"
	}
}

;fix a tp avoidance spot near spawn
add:
{
	"classname" "trigger_teleport"
	"targetname" "ToRadioTeleport"
	"target" "RadioTeleport"
	"StartDisabled" "1"
	"UseLandmarkAngles" "1"
	"spawnflags" "4097"
	"origin" "-3200 -764 -4931"
	"angles" "180 0 90"
	"model" "*93"
}

add:
{
	"classname" "trigger_teleport"
	"targetname" "ToRadioTeleport"
	"target" "RadioTeleport"
	"StartDisabled" "1"
	"UseLandmarkAngles" "1"
	"spawnflags" "4097"
	"origin" "-2688 -764 -4931"
	"angles" "180 0 90"
	"model" "*93"
}

add:
{
	"classname" "trigger_teleport"
	"targetname" "ToRadioTeleport"
	"target" "RadioTeleport"
	"StartDisabled" "1"
	"UseLandmarkAngles" "1"
	"spawnflags" "4097"
	"origin" "-2176 -764 -4931"
	"angles" "180 0 90"
	"model" "*93"
}

add:
{
	"classname" "trigger_teleport"
	"targetname" "ToRadioTeleport"
	"target" "RadioTeleport"
	"StartDisabled" "1"
	"UseLandmarkAngles" "1"
	"spawnflags" "4097"
	"origin" "-1664 -764 -4931"
	"angles" "180 0 90"
	"model" "*93"
}