;translate the map
modify:
{
	match:
	{
		"classname" "logic_script"
		"targetname" "happy"
	}
	replace:
	{
		"vscripts" "Villagehead/happy_patched.nut"
	}
}

;Move game_text to the left due to CSGO cutting off text
modify:
{
	match:
	{
		"classname" "game_text"
	}
	replace:
	{
		"x" "0.2"
	}
}