;stripper by koen (STEAM_1:1:114921174)

;fix frozen players getting spawn platforms stuck
modify:
{
	match:
	{
		"classname" "func_movelinear"
		"targetname" "/s_p\d/"
	}
	replace:
	{
		"blockdamage" "99999"
	}
}

;fix players intentionally getting elevator stuck on stage B to prevent zombies from reaching the top
modify:
{
	match:
	{
		"classname" "func_door"
		"targetname" "/b_escape_p\d/"
	}
	replace:
	{
		"forceclosed" "1"
		"dmg" "99999"
	}
}

;rework red NPC targeting system to use context filters to prevent breaking item filtering
modify:
{
	match:
	{
		"classname" "filter_activator_name"
		"targetname" "enemy1_filter1"
	}
	replace:
	{
		"classname" "filter_activator_context"
	}
	delete:
	{
		"filtername" "target"
	}
	insert:
	{
		"ResponseContext" "NPC_Target"
	}
}

modify:
{
	match:
	{
		"classname" "trigger_multiple"
		"hammerid" "2639207"
	}
	insert:
	{
		"OnStartTouch" "!activatorRemoveContextNPC_Target0-1"
	}
}

modify:
{
	match:
	{
		"classname" "trigger_multiple"
		"targetname" "enemy1_filtertrigger1"
	}
	delete:
	{
		"OnTrigger" "!activatorAddOutputtargetname player5-1"
		"OnTrigger" "!activatorAddOutputtargetname target0-1"
	}
	insert:
	{
		"OnTrigger" "!activatorAddContextNPC_Target:10-1"
		"OnTrigger" "!activatorRemoveContextNPC_Target5-1"
	}
}