;Post panorama players can spawn on the very first round wherever the point_camera/first spawn point is.
;Meaning they can get ahead (or stuck) where they shouldn't be.
filter:
{
	"classname" "point_viewcontrol"
}

;reduce number of game_text channels used
filter:
{
	"targetname" "Map_Text_Fire"
}

filter:
{
	"targetname" "Map_Text_Heal"
}

filter:
{
	"targetname" "Map_Text_Ice"
}

filter:
{
	"targetname" "Map_Text_Poison"
}

filter:
{
	"targetname" "Map_Text_Wind"
}

modify:
{
	match:
	{
		"classname" "weapon_elite"
		"targetname" "Staff_Fire_Pistol"
	}
	delete:
	{
		"OnPlayerPickup" "Map_Text_FireFireUser101"
	}
}

modify:
{
	match:
	{
		"classname" "weapon_elite"
		"targetname" "Staff_Heal_Pistol"
	}
	delete:
	{
		"OnPlayerPickup" "Map_Text_HealFireUser101"
	}
}

modify:
{
	match:
	{
		"classname" "weapon_elite"
		"targetname" "Staff_Ice_Pistol"
	}
	delete:
	{
		"OnPlayerPickup" "Map_Text_IceFireUser101"
	}
}

modify:
{
	match:
	{
		"classname" "weapon_elite"
		"targetname" "Staff_Poison_Pistol"
	}
	delete:
	{
		"OnPlayerPickup" "Map_Text_PoisonFireUser101"
	}
}

modify:
{
	match:
	{
		"classname" "weapon_elite"
		"targetname" "Staff_Wind_Pistol"
	}
	delete:
	{
		"OnPlayerPickup" "Map_Text_WindFireUser101"
	}
}

modify:
{
	match:
	{
		"classname" "logic_case"
		"targetname" "Staff_Fire_Case"
	}
	delete:
	{
		"OnCase01" "Map_Text_FireDisplay0.01-1"
		"OnCase01" "Map_Text_FireAddOutputmessage Fire - Level 10-1"
		"OnCase02" "Map_Text_FireDisplay0.01-1"
		"OnCase02" "Map_Text_FireAddOutputmessage Fire - Level 10-1"
		"OnCase03" "Map_Text_FireDisplay0.01-1"
		"OnCase03" "Map_Text_FireAddOutputmessage Fire - Level 20-1"
		"OnCase04" "Map_Text_FireDisplay0.01-1"
		"OnCase04" "Map_Text_FireAddOutputmessage Fire - Level 30-1"
		"OnCase05" "Map_Text_FireDisplay0.01-1"
		"OnCase05" "Map_Text_FireAddOutputmessage Fire - Level 40-1"
		"OnCase06" "Map_Text_FireDisplay0.01-1"
		"OnCase06" "Map_Text_FireAddOutputmessage Fire - Level 50-1"
	}
	insert:
	{
		"OnCase01" "CmdCommandsm_ewsetshortname 2511907 Fire.Lv10-1"
		"OnCase02" "CmdCommandsm_ewsetshortname 2511907 Fire.Lv10-1"
		"OnCase03" "CmdCommandsm_ewsetshortname 2511907 Fire.Lv20-1"
		"OnCase04" "CmdCommandsm_ewsetshortname 2511907 Fire.Lv20-1"
		"OnCase05" "CmdCommandsm_ewsetshortname 2511907 Fire.Lv40-1"
		"OnCase06" "CmdCommandsm_ewsetshortname 2511907 Fire.Lv50-1"
	}
}

modify:
{
	match:
	{
		"classname" "logic_case"
		"targetname" "Staff_Heal_Case"
	}
	delete:
	{
		"OnCase01" "Map_Text_HealDisplay0.01-1"
		"OnCase01" "Map_Text_HealAddOutputmessage Heal - Level 10-1"
		"OnCase02" "Map_Text_HealDisplay0.01-1"
		"OnCase02" "Map_Text_HealAddOutputmessage Heal - Level 10-1"
		"OnCase03" "Map_Text_HealDisplay0.01-1"
		"OnCase03" "Map_Text_HealAddOutputmessage Heal - Level 20-1"
		"OnCase04" "Map_Text_HealDisplay0.01-1"
		"OnCase04" "Map_Text_HealAddOutputmessage Heal - Level 30-1"
		"OnCase05" "Map_Text_HealDisplay0.01-1"
		"OnCase05" "Map_Text_HealAddOutputmessage Heal - Level 40-1"
		"OnCase06" "Map_Text_HealDisplay0.01-1"
		"OnCase06" "Map_Text_HealAddOutputmessage Heal - Level 50-1"
	}
	insert:
	{
		"OnCase01" "CmdCommandsm_ewsetshortname 2511901 Heal.Lv10-1"
		"OnCase02" "CmdCommandsm_ewsetshortname 2511901 Heal.Lv10-1"
		"OnCase03" "CmdCommandsm_ewsetshortname 2511901 Heal.Lv20-1"
		"OnCase04" "CmdCommandsm_ewsetshortname 2511901 Heal.Lv20-1"
		"OnCase05" "CmdCommandsm_ewsetshortname 2511901 Heal.Lv40-1"
		"OnCase06" "CmdCommandsm_ewsetshortname 2511901 Heal.Lv50-1"
	}
}

modify:
{
	match:
	{
		"classname" "logic_case"
		"targetname" "Staff_Ice_Case"
	}
	delete:
	{
		"OnCase01" "Map_Text_IceDisplay0.01-1"
		"OnCase01" "Map_Text_IceAddOutputmessage Ice - Level 10-1"
		"OnCase02" "Map_Text_IceDisplay0.01-1"
		"OnCase02" "Map_Text_IceAddOutputmessage Ice - Level 10-1"
		"OnCase03" "Map_Text_IceDisplay0.01-1"
		"OnCase03" "Map_Text_IceAddOutputmessage Ice - Level 20-1"
		"OnCase04" "Map_Text_IceDisplay0.01-1"
		"OnCase04" "Map_Text_IceAddOutputmessage Ice - Level 30-1"
		"OnCase05" "Map_Text_IceDisplay0.01-1"
		"OnCase05" "Map_Text_IceAddOutputmessage Ice - Level 40-1"
		"OnCase06" "Map_Text_IceDisplay0.01-1"
		"OnCase06" "Map_Text_IceAddOutputmessage Ice - Level 50-1"
	}
	insert:
	{
		"OnCase01" "CmdCommandsm_ewsetshortname 2511987 Ice.Lv10-1"
		"OnCase02" "CmdCommandsm_ewsetshortname 2511987 Ice.Lv10-1"
		"OnCase03" "CmdCommandsm_ewsetshortname 2511987 Ice.Lv20-1"
		"OnCase04" "CmdCommandsm_ewsetshortname 2511987 Ice.Lv20-1"
		"OnCase05" "CmdCommandsm_ewsetshortname 2511987 Ice.Lv40-1"
		"OnCase06" "CmdCommandsm_ewsetshortname 2511987 Ice.Lv50-1"
	}
}

modify:
{
	match:
	{
		"classname" "logic_case"
		"targetname" "Staff_Poison_Case"
	}
	delete:
	{
		"OnCase01" "Map_Text_PoisonDisplay0.01-1"
		"OnCase01" "Map_Text_PoisonAddOutputmessage Poison - Level 10-1"
		"OnCase02" "Map_Text_PoisonDisplay0.01-1"
		"OnCase02" "Map_Text_PoisonAddOutputmessage Poison - Level 10-1"
		"OnCase03" "Map_Text_PoisonDisplay0.01-1"
		"OnCase03" "Map_Text_PoisonAddOutputmessage Poison - Level 20-1"
		"OnCase04" "Map_Text_PoisonDisplay0.01-1"
		"OnCase04" "Map_Text_PoisonAddOutputmessage Poison - Level 30-1"
		"OnCase05" "Map_Text_PoisonDisplay0.01-1"
		"OnCase05" "Map_Text_PoisonAddOutputmessage Poison - Level 40-1"
		"OnCase06" "Map_Text_PoisonDisplay0.01-1"
		"OnCase06" "Map_Text_PoisonAddOutputmessage Poison - Level 50-1"
	}
	insert:
	{
		"OnCase01" "CmdCommandsm_ewsetshortname 2512074 Poison.Lv10-1"
		"OnCase02" "CmdCommandsm_ewsetshortname 2512074 Poison.Lv10-1"
		"OnCase03" "CmdCommandsm_ewsetshortname 2512074 Poison.Lv20-1"
		"OnCase04" "CmdCommandsm_ewsetshortname 2512074 Poison.Lv20-1"
		"OnCase05" "CmdCommandsm_ewsetshortname 2512074 Poison.Lv40-1"
		"OnCase06" "CmdCommandsm_ewsetshortname 2512074 Poison.Lv50-1"
	}
}

modify:
{
	match:
	{
		"classname" "logic_case"
		"targetname" "Staff_Wind_Case"
	}
	delete:
	{
		"OnCase01" "Map_Text_WindDisplay0.01-1"
		"OnCase01" "Map_Text_WindAddOutputmessage Wind - Level 10-1"
		"OnCase01" "Map_Text_WindAddOutputcolor2 64 180 640-1"
		"OnCase01" "Map_Text_WindAddOutputcolor 0 180 00-1"
		"OnCase02" "Map_Text_WindDisplay0.01-1"
		"OnCase02" "Map_Text_WindAddOutputmessage Wind - Level 10-1"
		"OnCase02" "Map_Text_WindAddOutputcolor2 64 180 640-1"
		"OnCase02" "Map_Text_WindAddOutputcolor 0 180 00-1"
		"OnCase03" "Map_Text_WindDisplay0.01-1"
		"OnCase03" "Map_Text_WindAddOutputmessage Wind - Level 20-1"
		"OnCase03" "Map_Text_WindAddOutputcolor2 64 180 640-1"
		"OnCase03" "Map_Text_WindAddOutputcolor 0 180 00-1"
		"OnCase04" "Map_Text_WindDisplay0.01-1"
		"OnCase04" "Map_Text_WindAddOutputmessage Wind - Level 30-1"
		"OnCase04" "Map_Text_WindAddOutputcolor2 64 180 640-1"
		"OnCase04" "Map_Text_WindAddOutputcolor 0 180 00-1"
		"OnCase05" "Map_Text_WindDisplay0.01-1"
		"OnCase05" "Map_Text_WindAddOutputmessage Wind - Level 40-1"
		"OnCase05" "Map_Text_WindAddOutputcolor2 64 180 640-1"
		"OnCase05" "Map_Text_WindAddOutputcolor 0 180 00-1"
		"OnCase06" "Map_Text_WindDisplay0.01-1"
		"OnCase06" "Map_Text_WindAddOutputmessage Gravity - Level 50-1"
		"OnCase06" "Map_Text_WindAddOutputcolor2 180 64 1800-1"
		"OnCase06" "Map_Text_WindAddOutputcolor 180 4 1800-1"
	}
	insert:
	{
		"OnCase01" "CmdCommandsm_ewsetshortname 2512217 Wind.Lv10-1"
		"OnCase02" "CmdCommandsm_ewsetshortname 2512217 Wind.Lv10-1"
		"OnCase03" "CmdCommandsm_ewsetshortname 2512217 Wind.Lv20-1"
		"OnCase04" "CmdCommandsm_ewsetshortname 2512217 Wind.Lv20-1"
		"OnCase05" "CmdCommandsm_ewsetshortname 2512217 Wind.Lv40-1"
		"OnCase06" "CmdCommandsm_ewsetshortname 2512217 Gravity.Lv50-1"
	}
}

modify:
{
	match:
	{
		"classname" "game_text"
		"targetname" "Secret_Hudhint"
	}
	replace:
	{
		"channel" "2"
	}
}

;fix trigger_hurts
modify:
{
	match:
	{
		"classname" "trigger_hurt"
	}
	replace:
	{
		"damagetype" "0"
	}
}

;adjust mateus hp
modify:
{
	match:
	{
		"targetname" "Boss_Hurt_Hpadd"
		"classname" "trigger_multiple"
	}
	delete:
	{
		"OnStartTouch" "Boss_Health_InitAdd820-1"
	}
	insert:
	{
		"OnStartTouch" "Boss_Health_InitAdd600-1"
	}
}

;remove ignite when heal is level 3-5
modify:
{
	match:
	{
		"classname" "trigger_hurt"
		"targetname" "Staff_Heal_Trigger_2"
	}
	delete:
	{
		"OnStartTouch" "!activatorIgniteLifetime00-1"
	}
}

modify:
{
	match:
	{
		"classname" "trigger_hurt"
		"targetname" "Staff_Heal_Trigger_3"
	}
	delete:
	{
		"OnStartTouch" "!activatorIgniteLifetime00-1"
	}
}

;kill potions after use
add:
{
	"targetname" "item_cleaner"
	"vscripts" "item_cleaner.nut"
	"classname" "logic_script"
}

modify:
{
	match:
	{
		"targetname" "Potion_1_Btn"
		"classname" "func_button"
	}
	insert:
	{
		"OnUser4" "item_cleanerRunScriptCodeCleanAfterUse()51"
	}
}

modify:
{
	match:
	{
		"targetname" "Potion_2_Btn"
		"classname" "func_button"
	}
	insert:
	{
		"OnUser4" "item_cleanerRunScriptCodeCleanAfterUse()101"
	}
}

modify:
{
	match:
	{
		"targetname" "Potion_3_Btn"
		"classname" "func_button"
	}
	insert:
	{
		"OnUser4" "item_cleanerRunScriptCodeCleanAfterUse()91"
	}
}

modify:
{
	match:
	{
		"targetname" "Potion_4_Btn"
		"classname" "func_button"
	}
	insert:
	{
		"OnUser4" "item_cleanerRunScriptCodeCleanAfterUse()41"
	}
}

modify:
{
	match:
	{
		"targetname" "Potion_5_Btn"
		"classname" "func_button"
	}
	delete:
	{
		"OnUser4" "!selfKill01"
	}
	insert:
	{
		"OnUser4" "item_cleanerRunScriptCodeCleanAfterUse()151"
	}
}

modify:
{
	match:
	{
		"targetname" "Esper_Btn"
		"classname" "func_button"
	}
	delete:
	{
		"OnUser4" "!selfKill01"
	}
	insert:
	{
		"OnUser4" "item_cleanerRunScriptCodeCleanAfterUse()151"
	}
}

;fix fire staff crashing clients when facing mateus
filter:
{
	"targetname" "Boss_Igniter"
}

modify:
{
	match:
	{
		"targetname" "Boss_Damage_Fire"
		"hammerid" "835804"
	}
	delete:
	{
		"OnEqualTo" "Boss_IgniterIgnite0-1"
	}
}