;==================================
; stripper by koen (Updated 11/5/2022)
;==================================

;fix delta giving incorrect ammo amount
modify:
{
	match:
	{
		"classname" "trigger_multiple"
		"targetname" "wxzd"
	}
	replace:
	{
		"vscripts" "honkai_patched.nut"
	}
}

;translate logic auto and add credits
modify:
{
	match:
	{
		"classname" "logic_auto"
		"hammerid" "1003040"
	}
	delete:
	{
		"OnMapSpawn" "/^jubenCommandsay/"
	}
	insert:
	{
		"OnMapSpawn" "jubenCommandsay ** Translation by koen **31"
		"OnMapSpawn" "jubenCommandsay ** Research from Helipolis Life Sciences lab obtained! Retreat immediately! **51"
		"OnMapSpawn" "jubenCommandsay [CAPTAIN] How do you cause so much trouble for a simple task?81"
		"OnMapSpawn" "jubenCommandsay ** The monsters appeared while we were retreating! **111"
		"OnMapSpawn" "jubenCommandsay [CAPTAIN] Activate the landing lights since the guidance system is down **141"
		"OnMapSpawn" "jubenCommandsay ** But there are monsters out there! **171"
		"OnMapSpawn" "jubenCommandsay [CAPTAIN] I will reward you if you trigger the switch201"
		"OnMapSpawn" "jubenCommandsay [CAPTAIN] But don't be caught by security20.51"
		"OnMapSpawn" "jubenCommandsay ** Get on the landing pad quickly! **2911"
		"OnMapSpawn" "jubenCommandsay || WARNING || Monsters coming from below! Defend!2001"
		"OnMapSpawn" "jubenCommandsay ** 10s left before we get security access! **2251"
		"OnMapSpawn" "jubenCommandsay ** Activating the night time landing system! **2351"
		"OnMapSpawn" "jubenCommandsay ** Night time landing system activated! **2501"
		"OnMapSpawn" "jubenCommandsay ** Connecting to internet in 5s! Get ready to retreat! **1651"
		"OnMapSpawn" "jubenCommandsay ** 10s left until we crack the defense system! **601"
		"OnMapSpawn" "jubenCommandsay ** 10s left until we crack the defense system! **1001"
		"OnMapSpawn" "jubenCommandsay ** 10s left until we crack the defense system! **251"
	}
}

;translate bag1 cheack
modify:
{
	match:
	{
		"classname" "trigger_once"
		"targetname" "bag1cheack"
	}
	delete:
	{
		"OnTrigger" "/^jubenCommandsay/"
	}
	insert:
	{
		"OnTrigger" "jubenCommandsay ** Retrieved 1st Document **21"
	}
}

;translate cheak3
modify:
{
	match:
	{
		"classname" "trigger_once"
		"targetname" "cheak3"
	}
	delete:
	{
		"OnTrigger" "/^jubenCommandsay/"
	}
	insert:
	{
		"OnTrigger" "jubenCommandsay ** Retrieved all 3 documents **201"
		"OnTrigger" "jubenCommandsay [POLICE] Good! Transport ship is headed your way!261"
	}
}

;translate cheack1
modify:
{
	match:
	{
		"classname" "trigger_once"
		"targetname" "cheack1"
	}
	delete:
	{
		"OnTrigger" "/^jubenCommandsay/"
	}
	insert:
	{
		"OnTrigger" "jubenCommandsay ** Door opens in 25s **01"
		"OnTrigger" "jubenCommandsay ** Door is open! Retreat!251"
	}
}

;translate part3 logic relay
modify:
{
	match:
	{
		"classname" "logic_relay"
		"targetname" "part3"
	}
	delete:
	{
		"OnTrigger" "/^jubenCommandsay/"
	}
	insert:
	{
		"OnTrigger" "jubenCommandsay ** Opening the steel shutter door **01"
	}
}

;translate part4 logic relay
modify:
{
	match:
	{
		"classname" "logic_relay"
		"targetname" "part4"
	}
	delete:
	{
		"OnTrigger" "/^jubenCommandsay/"
	}
	insert:
	{
		"OnTrigger" "jubenCommandsay ** Retrieved 2nd Document **861"
	}
}

;translate part5 logic relay
modify:
{
	match:
	{
		"classname" "logic_relay"
		"targetname" "part5"
	}
	delete:
	{
		"OnTrigger" "/^jubenCommandsay/"
	}
	insert:
	{
		"OnTrigger" "jubenCommandsay ** All monsters have been killed **431"
		"OnTrigger" "jubenCommandsay || WARNING || Another wave of monsters coming from the house441"
	}
}

;translate part2 logic relay
modify:
{
	match:
	{
		"classname" "logic_relay"
		"targetname" "part2"
	}
	delete:
	{
		"OnTrigger" "/^jubenCommandsay/"
	}
	insert:
	{
		"OnTrigger" "jubenCommandsay ** Is this the Arc City police? We are trapped and in need of assistance! **51"
		"OnTrigger" "jubenCommandsay [POLICE] We cannot offer assistance due to the monsters111"
		"OnTrigger" "jubenCommandsay ** Our lives are just as important as those you are protecting! **141"
		"OnTrigger" "jubenCommandsay [POLICE] There are other people more important to protect171"
		"OnTrigger" "jubenCommandsay ** Bruh... **201"
		"OnTrigger" "jubenCommandsay [POLICE] We can help you if you get the 3 missing documents231"
		"OnTrigger" "jubenCommandsay ** That sounds fine to us! Let's go! **261"
		"OnTrigger" "jubenCommandsay [POLICE] The three documents are located on the roof of the building under the bridge... **291"
		"OnTrigger" "jubenCommandsay [POLICE] in Old Wang's Restaurant in the storage room on red floor... **29.41"
		"OnTrigger" "jubenCommandsay [POLICE] and on the roof of the other building **29.81"
		"OnTrigger" "jubenCommandsay [POLICE] The land lords hide the keys at the corners of the buildings **321"
		"OnTrigger" "jubenCommandsay ** This wave of monsters are dead! Let's continue looking for the documents **711"
	}
}

;translate boss trigger button
modify:
{
	match:
	{
		"classname" "func_button"
		"targetname" "boss_trigger"
	}
	delete:
	{
		"OnPressed" "/^jubenCommandsay/"
	}
	insert:
	{
		"OnPressed" "jubenCommandsay ** Why are you trying to kill us?!! **201"
		"OnPressed" "jubenCommandsay [CAPTAIN] I will be blamed for your troubles! So I will kill you guys instead! 231"
	}
}

;translate boss death
modify:
{
	match:
	{
		"classname" "logic_relay"
		"targetname" "boss_death"
	}
	delete:
	{
		"OnTrigger" "/^jubenCommandsay/"
	}
	insert:
	{
		"OnTrigger" "jubenCommandsay ** Maybe the broken landing system wasn't such a bad thing... **21"
	}
}

;translate lt1kg button
modify:
{
	match:
	{
		"classname" "func_button"
		"targetname" "lt1kg"
	}
	delete:
	{
		"OnPressed" "/^jubenCommandsay/"
	}
	insert:
	{
		"OnPressed" "jubenCommandsay ** Ladder drops down in 20s! **01"
		"OnPressed" "jubenCommandsay ** We're lucky that the ladder came down in time! **201"
	}
}

;translate ltsq item
modify:
{
	match:
	{
		"classname" "weapon_elite"
		"targetname" "ltsq"
	}
	delete:
	{
		"OnPlayerPickup" "/^jubenCommandsay/"
	}
	insert:
	{
		"OnPlayerPickup" "jubenCommandsay ** Rita has been picked up - Freezes zombies **01"
	}
}

;translate bcysq item
modify:
{
	match:
	{
		"classname" "weapon_elite"
		"targetname" "bcysq"
	}
	delete:
	{
		"OnPlayerPickup" "/^jubenCommandsay/"
	}
	insert:
	{
		"OnPlayerPickup" "jubenCommandsay ** Yae Sakura has been picked up - Heal Humans **01"
	}
}

;translate detsq item
modify:
{
	match:
	{
		"classname" "weapon_deagle"
		"targetname" "detsq"
	}
	delete:
	{
		"OnPlayerPickup" "/^jubenCommandsay/"
	}
	insert:
	{
		"OnPlayerPickup" "jubenCommandsay ** Delta has been picked up - Infinite Ammo **01"
	}
}